* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: sans-serif;
  font-size: min(12vw, 86px);
  line-height: 0.75;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
  font-size: min(12vw, 86px);
}

h3{
  margin: 0;
  font-size: min(8vw, 64px);
}

canvas + div {
  isolation: isolate; /* Without isolation, the background color will be taken into account */
  mix-blend-mode: overlay;
}
